analisi_dati/analisi_secondo_giorno/regime/a.out
analisi_dati/analisi_secondo_giorno/regime/.vscode/
analisi_dati/analisi_secondo_giorno/smorzamento/#include <iostream>.cpp

dati_grezzi/analysis.cpp
dati_grezzi/analysis2.cpp
dati_grezzi/dio
dati_grezzi/massimi.txt
dati_grezzi/zio
